'*':
	'TColor No Color':
		'prefix': 'tcnocolor'
		'body': '\\\\\\e[0m ${1:text}'

	'TColor Black':
		'prefix': 'tcblack'
		'body': '\\\\e[30m ${1:text}'
	'TColor Gray':
		'prefix': 'tcgray'
		'body': '\\\\e[1;30m ${1:text}'

	'TColor Red':
		'prefix': 'tcred'
		'body': '\\\\e[31m ${1:text}'
	'TColor Red Light':
		'prefix': 'tcredlight'
		'body': '\\\\e[1;31m ${1:text}'

	'TColor Green':
		'prefix': 'tcgreen'
		'body': '\\\\e[32m ${1:text}'
	'TColor Green Light':
		'prefix': 'tcgreenlight'
		'body': '\\\\e[1;32m ${1:text}'

	'TColor Yellom':
		'prefix': 'tcyallom'
		'body': '\\\\e[33m ${1:text}'
	'TColor Yallom Light':
		'prefix': 'tcyallomlight'
		'body': '\\\\e[1;33m ${1:text}'

	'TColor Blue':
		'prefix': 'tcblue'
		'body': '\\\\e[34m ${1:text}'
	'TColor Blue Light':
		'prefix': 'tcbluelight'
		'body': '\\\\e[1;34m ${1:text}'

	'TColor Purple':
		'prefix': 'tcpurple'
		'body': '\\\\e[35m ${1:text}'
	'TColor Purple Light':
		'prefix': 'tcpurplelight'
		'body': '\\\\e[1;35m ${1:text}'

	'TColor Cyan':
		'prefix': 'tccyan'
		'body': '\\\\e[36m ${1:text}'
	'TColor Cyan Light':
		'prefix': 'tccyanlight'
		'body': '\\\\e[1;36m ${1:text}'

	'TColor White':
		'prefix': 'tcwhite'
		'body': '\\\\e[37m ${1:text}'
	'TColor White Light':
		'prefix': 'tcwhitelight'
		'body': '\\\\e[1;37m ${1:text}'

	'TCLight Black':
		'prefix': 'tclblack'
		'body': '\\\\e[90m ${1:text}'
	'TCLight Gray':
		'prefix': 'tclgray'
		'body': '\\\\e[1;90m ${1:text}'

	'TCLight Red':
		'prefix': 'tclred'
		'body': '\\\\e[91m ${1:text}'
	'TCLight Red Light':
		'prefix': 'tclredlight'
		'body': '\\\\e[1;91m ${1:text}'

	'TCLight Green':
		'prefix': 'tclgreen'
		'body': '\\\\e[92m ${1:text}'
	'TCLight Green Light':
		'prefix': 'tclgreenlight'
		'body': '\\\\e[1;92m ${1:text}'

	'TCLight Yellom':
		'prefix': 'tclyallom'
		'body': '\\\\e[93m ${1:text}'
	'TCLight Yallom Light':
		'prefix': 'tclyallomlight'
		'body': '\\\\e[1;93m ${1:text}'

	'TCLight Blue':
		'prefix': 'tclblue'
		'body': '\\\\e[94m ${1:text}'
	'TCLight Blue Light':
		'prefix': 'tclbluelight'
		'body': '\\\\e[1;94m ${1:text}'

	'TCLight Purple':
		'prefix': 'tclpurple'
		'body': '\\\\e[95m ${1:text}'
	'TCLight Purple Light':
		'prefix': 'tclpurplelight'
		'body': '\\\\e[1;95m ${1:text}'

	'TCLight Cyan':
		'prefix': 'tclcyan'
		'body': '\\\\e[96m ${1:text}'
	'TCLight Cyan Light':
		'prefix': 'tclcyanlight'
		'body': '\\\\e[1;96m ${1:text}'

	'TCLight White':
		'prefix': 'tclwhite'
		'body': '\\\\e[97m ${1:text}'
	'TCLight White Light':
		'prefix': 'tclwhitelight'
		'body': '\\\\e[1;97m ${1:text}'
